// Available color variables
// Aiming for “AA” of WCAG. 
// Test - http://colorsafe.co/
$color__white:         white;
$color__fiord:         #4F5A65;
$color__black-russian: #202124;
$color__shuttle-grey:  #5f6368;
$color__grey:          #767676;
$color__royal-blue:    #1C5AEA;
$color__matisse:       #376089;

//my custom colors:
$color__purple: #8800cc;
$color__soft-purple: #c61aff;
$color__softer-purple: #e6b3ff;
$color__blank-purle: #f7e6ff;
$color_soft-sky: #f2e6ff;
$color__dark-purple: #440066;
$color__light-purple:#c491dd;
