// Colors
$color__link:         $color__soft-purple;
$color__input-border: $color__purple;
$color__check:        $color__white;
$background__check:   $color__purple;
$background__button:  $color__purple;

// Line heights
$line-height__button:       2.5rem;
$line-height__input-normal: 1.4rem;


// Spacing
$padding__input:     .5rem 1rem;
$padding__button:    .2rem 1rem;
$margin__form-field: 1rem;
$margin__form-label: .25rem;

// Sizes
$size__inputs-buttons: 3rem;
$size__checkbox:       1.4rem;
$size__radio:       1.4rem;

// Icons
$icon__check: " \f00c" !default;
$icon__radio: " \f111" !default;
