// Colorings for draft purposes
#app {
    background: $color__blank-purle;
}

.page-header {
    background: $color__softer-purple;

}

.aside {

    .container {
        background: white;
    }
}

.main {

    .container {}
}

.page-footer {
    background: $color__softer-purple;
}
