@charset "UTF-8";
/*!
 * Bootstrap Reboot v4.3.1 (https://getbootstrap.com/)
 * Copyright 2011-2019 The Bootstrap Authors
 * Copyright 2011-2019 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 * Forked from Normalize.css, licensed MIT (https://github.com/necolas/normalize.css/blob/master/LICENSE.md)
 */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}

[tabindex="-1"]:focus {
  outline: 0 !important;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

abbr[title],
abbr[data-original-title] {
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  cursor: help;
  border-bottom: 0;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
}

address {
  margin-bottom: 1rem;
  font-style: normal;
  line-height: inherit;
}

ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1rem;
}

ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0;
}

dt {
  font-weight: 700;
}

dd {
  margin-bottom: .5rem;
  margin-left: 0;
}

blockquote {
  margin: 0 0 1rem;
}

b,
strong {
  font-weight: bolder;
}

small {
  font-size: 80%;
}

sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
}

a:hover {
  color: #0056b3;
  text-decoration: underline;
}

a:not([href]):not([tabindex]) {
  color: inherit;
  text-decoration: none;
}

a:not([href]):not([tabindex]):hover, a:not([href]):not([tabindex]):focus {
  color: inherit;
  text-decoration: none;
}

a:not([href]):not([tabindex]):focus {
  outline: 0;
}

pre,
code,
kbd,
samp {
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-size: 1em;
}

pre {
  margin-top: 0;
  margin-bottom: 1rem;
  overflow: auto;
}

figure {
  margin: 0 0 1rem;
}

img {
  vertical-align: middle;
  border-style: none;
}

svg {
  overflow: hidden;
  vertical-align: middle;
}

table {
  border-collapse: collapse;
}

caption {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  color: #6c757d;
  text-align: left;
  caption-side: bottom;
}

th {
  text-align: inherit;
}

label {
  display: inline-block;
  margin-bottom: 0.5rem;
}

button {
  border-radius: 0;
}

button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

select {
  word-wrap: normal;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button:not(:disabled),
[type="button"]:not(:disabled),
[type="reset"]:not(:disabled),
[type="submit"]:not(:disabled) {
  cursor: pointer;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

input[type="radio"],
input[type="checkbox"] {
  box-sizing: border-box;
  padding: 0;
}

input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="month"] {
  -webkit-appearance: listbox;
}

textarea {
  overflow: auto;
  resize: vertical;
}

fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0;
}

legend {
  display: block;
  width: 100%;
  max-width: 100%;
  padding: 0;
  margin-bottom: .5rem;
  font-size: 1.5rem;
  line-height: inherit;
  color: inherit;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  outline-offset: -2px;
  -webkit-appearance: none;
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button;
}

output {
  display: inline-block;
}

summary {
  display: list-item;
  cursor: pointer;
}

template {
  display: none;
}

[hidden] {
  display: none !important;
}

html {
  font-size: 62.5%;
}

body {
  font-family: Tahoma, Geneva, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.4rem;
  color: #8800cc;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  margin-bottom: 10px;
  font-family: Tahoma, Geneva, sans-serif;
  font-weight: 600;
  line-height: 1.4em;
  color: #8800cc;
}

h1, .h1 {
  font-size: 2.4rem;
}

h2, .h2 {
  font-size: 2rem;
}

h3, .h3 {
  font-size: 1.8rem;
}

h4, .h4 {
  font-size: 1.6rem;
}

h5, .h5 {
  font-size: 1.4rem;
}

h6, .h6 {
  font-size: 1.3rem;
}

p {
  margin-bottom: 10px;
}

.disabled {
  color: #c491dd;
}

.muted {
  color: #c491dd;
}

.emphasized {
  color: #c61aff;
}

.hidden {
  display: none;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-centered {
  text-align: center;
}

.block-centered {
  margin: 0 auto;
}

.mt-0 {
  margin-top: 0px !important;
}

.pt-0 {
  padding-top: 0px !important;
}

.mb-0 {
  margin-bottom: 0px !important;
}

.pb-0 {
  padding-bottom: 0px !important;
}

.ml-0 {
  margin-left: 0px !important;
}

.pl-0 {
  padding-left: 0px !important;
}

.mr-0 {
  margin-right: 0px !important;
}

.pr-0 {
  padding-right: 0px !important;
}

.mv-0 {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}

.mh-0 {
  margin-left: 0px !important;
  margin-right: 0px !important;
}

.pv-0 {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

.ph-0 {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.mt-5 {
  margin-top: 5px !important;
}

.pt-5 {
  padding-top: 5px !important;
}

.mb-5 {
  margin-bottom: 5px !important;
}

.pb-5 {
  padding-bottom: 5px !important;
}

.ml-5 {
  margin-left: 5px !important;
}

.pl-5 {
  padding-left: 5px !important;
}

.mr-5 {
  margin-right: 5px !important;
}

.pr-5 {
  padding-right: 5px !important;
}

.mv-5 {
  margin-top: 5px !important;
  margin-bottom: 5px !important;
}

.mh-5 {
  margin-left: 5px !important;
  margin-right: 5px !important;
}

.pv-5 {
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}

.ph-5 {
  padding-left: 5px !important;
  padding-right: 5px !important;
}

.mt-10 {
  margin-top: 10px !important;
}

.pt-10 {
  padding-top: 10px !important;
}

.mb-10 {
  margin-bottom: 10px !important;
}

.pb-10 {
  padding-bottom: 10px !important;
}

.ml-10 {
  margin-left: 10px !important;
}

.pl-10 {
  padding-left: 10px !important;
}

.mr-10 {
  margin-right: 10px !important;
}

.pr-10 {
  padding-right: 10px !important;
}

.mv-10 {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}

.mh-10 {
  margin-left: 10px !important;
  margin-right: 10px !important;
}

.pv-10 {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

.ph-10 {
  padding-left: 10px !important;
  padding-right: 10px !important;
}

.mt-15 {
  margin-top: 15px !important;
}

.pt-15 {
  padding-top: 15px !important;
}

.mb-15 {
  margin-bottom: 15px !important;
}

.pb-15 {
  padding-bottom: 15px !important;
}

.ml-15 {
  margin-left: 15px !important;
}

.pl-15 {
  padding-left: 15px !important;
}

.mr-15 {
  margin-right: 15px !important;
}

.pr-15 {
  padding-right: 15px !important;
}

.mv-15 {
  margin-top: 15px !important;
  margin-bottom: 15px !important;
}

.mh-15 {
  margin-left: 15px !important;
  margin-right: 15px !important;
}

.pv-15 {
  padding-top: 15px !important;
  padding-bottom: 15px !important;
}

.ph-15 {
  padding-left: 15px !important;
  padding-right: 15px !important;
}

.mt-20 {
  margin-top: 20px !important;
}

.pt-20 {
  padding-top: 20px !important;
}

.mb-20 {
  margin-bottom: 20px !important;
}

.pb-20 {
  padding-bottom: 20px !important;
}

.ml-20 {
  margin-left: 20px !important;
}

.pl-20 {
  padding-left: 20px !important;
}

.mr-20 {
  margin-right: 20px !important;
}

.pr-20 {
  padding-right: 20px !important;
}

.mv-20 {
  margin-top: 20px !important;
  margin-bottom: 20px !important;
}

.mh-20 {
  margin-left: 20px !important;
  margin-right: 20px !important;
}

.pv-20 {
  padding-top: 20px !important;
  padding-bottom: 20px !important;
}

.ph-20 {
  padding-left: 20px !important;
  padding-right: 20px !important;
}

.mt-25 {
  margin-top: 25px !important;
}

.pt-25 {
  padding-top: 25px !important;
}

.mb-25 {
  margin-bottom: 25px !important;
}

.pb-25 {
  padding-bottom: 25px !important;
}

.ml-25 {
  margin-left: 25px !important;
}

.pl-25 {
  padding-left: 25px !important;
}

.mr-25 {
  margin-right: 25px !important;
}

.pr-25 {
  padding-right: 25px !important;
}

.mv-25 {
  margin-top: 25px !important;
  margin-bottom: 25px !important;
}

.mh-25 {
  margin-left: 25px !important;
  margin-right: 25px !important;
}

.pv-25 {
  padding-top: 25px !important;
  padding-bottom: 25px !important;
}

.ph-25 {
  padding-left: 25px !important;
  padding-right: 25px !important;
}

.mt-30 {
  margin-top: 30px !important;
}

.pt-30 {
  padding-top: 30px !important;
}

.mb-30 {
  margin-bottom: 30px !important;
}

.pb-30 {
  padding-bottom: 30px !important;
}

.ml-30 {
  margin-left: 30px !important;
}

.pl-30 {
  padding-left: 30px !important;
}

.mr-30 {
  margin-right: 30px !important;
}

.pr-30 {
  padding-right: 30px !important;
}

.mv-30 {
  margin-top: 30px !important;
  margin-bottom: 30px !important;
}

.mh-30 {
  margin-left: 30px !important;
  margin-right: 30px !important;
}

.pv-30 {
  padding-top: 30px !important;
  padding-bottom: 30px !important;
}

.ph-30 {
  padding-left: 30px !important;
  padding-right: 30px !important;
}

.mt-35 {
  margin-top: 35px !important;
}

.pt-35 {
  padding-top: 35px !important;
}

.mb-35 {
  margin-bottom: 35px !important;
}

.pb-35 {
  padding-bottom: 35px !important;
}

.ml-35 {
  margin-left: 35px !important;
}

.pl-35 {
  padding-left: 35px !important;
}

.mr-35 {
  margin-right: 35px !important;
}

.pr-35 {
  padding-right: 35px !important;
}

.mv-35 {
  margin-top: 35px !important;
  margin-bottom: 35px !important;
}

.mh-35 {
  margin-left: 35px !important;
  margin-right: 35px !important;
}

.pv-35 {
  padding-top: 35px !important;
  padding-bottom: 35px !important;
}

.ph-35 {
  padding-left: 35px !important;
  padding-right: 35px !important;
}

.mt-40 {
  margin-top: 40px !important;
}

.pt-40 {
  padding-top: 40px !important;
}

.mb-40 {
  margin-bottom: 40px !important;
}

.pb-40 {
  padding-bottom: 40px !important;
}

.ml-40 {
  margin-left: 40px !important;
}

.pl-40 {
  padding-left: 40px !important;
}

.mr-40 {
  margin-right: 40px !important;
}

.pr-40 {
  padding-right: 40px !important;
}

.mv-40 {
  margin-top: 40px !important;
  margin-bottom: 40px !important;
}

.mh-40 {
  margin-left: 40px !important;
  margin-right: 40px !important;
}

.pv-40 {
  padding-top: 40px !important;
  padding-bottom: 40px !important;
}

.ph-40 {
  padding-left: 40px !important;
  padding-right: 40px !important;
}

.mt-45 {
  margin-top: 45px !important;
}

.pt-45 {
  padding-top: 45px !important;
}

.mb-45 {
  margin-bottom: 45px !important;
}

.pb-45 {
  padding-bottom: 45px !important;
}

.ml-45 {
  margin-left: 45px !important;
}

.pl-45 {
  padding-left: 45px !important;
}

.mr-45 {
  margin-right: 45px !important;
}

.pr-45 {
  padding-right: 45px !important;
}

.mv-45 {
  margin-top: 45px !important;
  margin-bottom: 45px !important;
}

.mh-45 {
  margin-left: 45px !important;
  margin-right: 45px !important;
}

.pv-45 {
  padding-top: 45px !important;
  padding-bottom: 45px !important;
}

.ph-45 {
  padding-left: 45px !important;
  padding-right: 45px !important;
}

.mt-50 {
  margin-top: 50px !important;
}

.pt-50 {
  padding-top: 50px !important;
}

.mb-50 {
  margin-bottom: 50px !important;
}

.pb-50 {
  padding-bottom: 50px !important;
}

.ml-50 {
  margin-left: 50px !important;
}

.pl-50 {
  padding-left: 50px !important;
}

.mr-50 {
  margin-right: 50px !important;
}

.pr-50 {
  padding-right: 50px !important;
}

.mv-50 {
  margin-top: 50px !important;
  margin-bottom: 50px !important;
}

.mh-50 {
  margin-left: 50px !important;
  margin-right: 50px !important;
}

.pv-50 {
  padding-top: 50px !important;
  padding-bottom: 50px !important;
}

.ph-50 {
  padding-left: 50px !important;
  padding-right: 50px !important;
}

.mt-55 {
  margin-top: 55px !important;
}

.pt-55 {
  padding-top: 55px !important;
}

.mb-55 {
  margin-bottom: 55px !important;
}

.pb-55 {
  padding-bottom: 55px !important;
}

.ml-55 {
  margin-left: 55px !important;
}

.pl-55 {
  padding-left: 55px !important;
}

.mr-55 {
  margin-right: 55px !important;
}

.pr-55 {
  padding-right: 55px !important;
}

.mv-55 {
  margin-top: 55px !important;
  margin-bottom: 55px !important;
}

.mh-55 {
  margin-left: 55px !important;
  margin-right: 55px !important;
}

.pv-55 {
  padding-top: 55px !important;
  padding-bottom: 55px !important;
}

.ph-55 {
  padding-left: 55px !important;
  padding-right: 55px !important;
}

.mt-60 {
  margin-top: 60px !important;
}

.pt-60 {
  padding-top: 60px !important;
}

.mb-60 {
  margin-bottom: 60px !important;
}

.pb-60 {
  padding-bottom: 60px !important;
}

.ml-60 {
  margin-left: 60px !important;
}

.pl-60 {
  padding-left: 60px !important;
}

.mr-60 {
  margin-right: 60px !important;
}

.pr-60 {
  padding-right: 60px !important;
}

.mv-60 {
  margin-top: 60px !important;
  margin-bottom: 60px !important;
}

.mh-60 {
  margin-left: 60px !important;
  margin-right: 60px !important;
}

.pv-60 {
  padding-top: 60px !important;
  padding-bottom: 60px !important;
}

.ph-60 {
  padding-left: 60px !important;
  padding-right: 60px !important;
}

.mt-65 {
  margin-top: 65px !important;
}

.pt-65 {
  padding-top: 65px !important;
}

.mb-65 {
  margin-bottom: 65px !important;
}

.pb-65 {
  padding-bottom: 65px !important;
}

.ml-65 {
  margin-left: 65px !important;
}

.pl-65 {
  padding-left: 65px !important;
}

.mr-65 {
  margin-right: 65px !important;
}

.pr-65 {
  padding-right: 65px !important;
}

.mv-65 {
  margin-top: 65px !important;
  margin-bottom: 65px !important;
}

.mh-65 {
  margin-left: 65px !important;
  margin-right: 65px !important;
}

.pv-65 {
  padding-top: 65px !important;
  padding-bottom: 65px !important;
}

.ph-65 {
  padding-left: 65px !important;
  padding-right: 65px !important;
}

.mt-70 {
  margin-top: 70px !important;
}

.pt-70 {
  padding-top: 70px !important;
}

.mb-70 {
  margin-bottom: 70px !important;
}

.pb-70 {
  padding-bottom: 70px !important;
}

.ml-70 {
  margin-left: 70px !important;
}

.pl-70 {
  padding-left: 70px !important;
}

.mr-70 {
  margin-right: 70px !important;
}

.pr-70 {
  padding-right: 70px !important;
}

.mv-70 {
  margin-top: 70px !important;
  margin-bottom: 70px !important;
}

.mh-70 {
  margin-left: 70px !important;
  margin-right: 70px !important;
}

.pv-70 {
  padding-top: 70px !important;
  padding-bottom: 70px !important;
}

.ph-70 {
  padding-left: 70px !important;
  padding-right: 70px !important;
}

.mt-75 {
  margin-top: 75px !important;
}

.pt-75 {
  padding-top: 75px !important;
}

.mb-75 {
  margin-bottom: 75px !important;
}

.pb-75 {
  padding-bottom: 75px !important;
}

.ml-75 {
  margin-left: 75px !important;
}

.pl-75 {
  padding-left: 75px !important;
}

.mr-75 {
  margin-right: 75px !important;
}

.pr-75 {
  padding-right: 75px !important;
}

.mv-75 {
  margin-top: 75px !important;
  margin-bottom: 75px !important;
}

.mh-75 {
  margin-left: 75px !important;
  margin-right: 75px !important;
}

.pv-75 {
  padding-top: 75px !important;
  padding-bottom: 75px !important;
}

.ph-75 {
  padding-left: 75px !important;
  padding-right: 75px !important;
}

.mt-80 {
  margin-top: 80px !important;
}

.pt-80 {
  padding-top: 80px !important;
}

.mb-80 {
  margin-bottom: 80px !important;
}

.pb-80 {
  padding-bottom: 80px !important;
}

.ml-80 {
  margin-left: 80px !important;
}

.pl-80 {
  padding-left: 80px !important;
}

.mr-80 {
  margin-right: 80px !important;
}

.pr-80 {
  padding-right: 80px !important;
}

.mv-80 {
  margin-top: 80px !important;
  margin-bottom: 80px !important;
}

.mh-80 {
  margin-left: 80px !important;
  margin-right: 80px !important;
}

.pv-80 {
  padding-top: 80px !important;
  padding-bottom: 80px !important;
}

.ph-80 {
  padding-left: 80px !important;
  padding-right: 80px !important;
}

.mt-85 {
  margin-top: 85px !important;
}

.pt-85 {
  padding-top: 85px !important;
}

.mb-85 {
  margin-bottom: 85px !important;
}

.pb-85 {
  padding-bottom: 85px !important;
}

.ml-85 {
  margin-left: 85px !important;
}

.pl-85 {
  padding-left: 85px !important;
}

.mr-85 {
  margin-right: 85px !important;
}

.pr-85 {
  padding-right: 85px !important;
}

.mv-85 {
  margin-top: 85px !important;
  margin-bottom: 85px !important;
}

.mh-85 {
  margin-left: 85px !important;
  margin-right: 85px !important;
}

.pv-85 {
  padding-top: 85px !important;
  padding-bottom: 85px !important;
}

.ph-85 {
  padding-left: 85px !important;
  padding-right: 85px !important;
}

.mt-90 {
  margin-top: 90px !important;
}

.pt-90 {
  padding-top: 90px !important;
}

.mb-90 {
  margin-bottom: 90px !important;
}

.pb-90 {
  padding-bottom: 90px !important;
}

.ml-90 {
  margin-left: 90px !important;
}

.pl-90 {
  padding-left: 90px !important;
}

.mr-90 {
  margin-right: 90px !important;
}

.pr-90 {
  padding-right: 90px !important;
}

.mv-90 {
  margin-top: 90px !important;
  margin-bottom: 90px !important;
}

.mh-90 {
  margin-left: 90px !important;
  margin-right: 90px !important;
}

.pv-90 {
  padding-top: 90px !important;
  padding-bottom: 90px !important;
}

.ph-90 {
  padding-left: 90px !important;
  padding-right: 90px !important;
}

.mt-95 {
  margin-top: 95px !important;
}

.pt-95 {
  padding-top: 95px !important;
}

.mb-95 {
  margin-bottom: 95px !important;
}

.pb-95 {
  padding-bottom: 95px !important;
}

.ml-95 {
  margin-left: 95px !important;
}

.pl-95 {
  padding-left: 95px !important;
}

.mr-95 {
  margin-right: 95px !important;
}

.pr-95 {
  padding-right: 95px !important;
}

.mv-95 {
  margin-top: 95px !important;
  margin-bottom: 95px !important;
}

.mh-95 {
  margin-left: 95px !important;
  margin-right: 95px !important;
}

.pv-95 {
  padding-top: 95px !important;
  padding-bottom: 95px !important;
}

.ph-95 {
  padding-left: 95px !important;
  padding-right: 95px !important;
}

.mt-100 {
  margin-top: 100px !important;
}

.pt-100 {
  padding-top: 100px !important;
}

.mb-100 {
  margin-bottom: 100px !important;
}

.pb-100 {
  padding-bottom: 100px !important;
}

.ml-100 {
  margin-left: 100px !important;
}

.pl-100 {
  padding-left: 100px !important;
}

.mr-100 {
  margin-right: 100px !important;
}

.pr-100 {
  padding-right: 100px !important;
}

.mv-100 {
  margin-top: 100px !important;
  margin-bottom: 100px !important;
}

.mh-100 {
  margin-left: 100px !important;
  margin-right: 100px !important;
}

.pv-100 {
  padding-top: 100px !important;
  padding-bottom: 100px !important;
}

.ph-100 {
  padding-left: 100px !important;
  padding-right: 100px !important;
}

.m-0 {
  margin: 0 !important;
}

.p-0 {
  padding: 0 !important;
}

.mh-auto {
  margin-left: auto !important;
  margin-right: auto !important;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  min-height: 100vh;
}

.page-header {
  flex: 0 0 auto;
}

.page-footer {
  flex: 0 0 auto;
}

.page-content {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
}

@media (min-width: 992px) {
  .page-content {
    flex-direction: row;
  }
}

.page-content .aside {
  order: 1;
}

@media (min-width: 992px) {
  .page-content .aside {
    flex: 0 0 300px;
  }
}

.page-content .main {
  flex-grow: 1;
  order: 2;
}

.container {
  margin: 0 auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

.container .content-wrapper {
  padding: 1.5rem;
}

.link {
  color: #c61aff;
  text-decoration: underline;
  outline: 0 !important;
}

.link:hover {
  color: #c61aff;
}

.link:focus, .link:active {
  color: #600080;
}

.link:focus {
  box-shadow: 0 0 0 2px rgba(136, 0, 204, 0.4);
}

.field {
  margin-bottom: 1rem;
}

.field.max-width-600 {
  max-width: 600px;
}

.label {
  margin-left: 2px;
  margin-bottom: 0.25rem;
  font-weight: bold;
  line-height: 1.4rem;
}

.control {
  display: flex;
  align-items: center;
  text-align: left;
}

.help {
  margin-top: 2px;
  font-size: 1.2rem;
}

.input {
  padding: 0.5rem 1rem;
  height: 3rem;
  width: 100%;
  max-width: 100%;
  font-weight: bold;
  color: #8800cc;
  border: 1px solid #8800cc;
  outline: 0 !important;
}

.input::-webkit-input-placeholder {
  color: #aa00ff;
}

.input:-ms-input-placeholder {
  color: #aa00ff;
}

.input::-ms-input-placeholder {
  color: #aa00ff;
}

.input::placeholder {
  color: #aa00ff;
}

.input:focus {
  box-shadow: 0 0 0 2px rgba(136, 0, 204, 0.4);
}

.field.disabled .input {
  background-color: #e6e6e6;
  border: 1px solid #8800cc;
  border-color: #e6b3ff;
  cursor: not-allowed;
}

.field.disabled .input::-webkit-input-placeholder {
  color: #d9b8e9;
}

.field.disabled .input:-ms-input-placeholder {
  color: #d9b8e9;
}

.field.disabled .input::-ms-input-placeholder {
  color: #d9b8e9;
}

.field.disabled .input::placeholder {
  color: #d9b8e9;
}

.control--has-icon-left .input {
  padding-left: 3rem;
}

.control--has-icon-right .input {
  padding-right: 3rem;
}

.control__icon {
  position: absolute;
  padding: .8rem;
  color: #c491dd;
}

.control--checkbox {
  margin-bottom: 0;
  padding-left: .8rem;
}

.control--checkbox .label {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 0;
  padding-left: .5rem;
  line-height: 1.4rem;
}

.control--checkbox .label::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 1.4rem;
  height: 1.4rem;
  left: 0;
  margin-left: -2rem;
  border: 1px solid #8800cc;
}

.disabled .control--checkbox .label::before {
  border: 1px solid #8800cc;
  border-color: #e6b3ff;
}

.control--checkbox .label::after {
  display: inline-block;
  position: absolute;
  width: 1.4rem;
  height: 1.4rem;
  left: 0;
  top: 0;
  margin-left: -2rem;
  padding-left: 1px;
  font-size: 1rem;
  line-height: 1.3rem;
  color: white;
  border: 1px solid #8800cc;
}

.disabled .control--checkbox .label::after {
  border: 1px solid #8800cc;
  border-color: #e6b3ff;
}

.control--checkbox .checkbox {
  opacity: 0;
  z-index: 1;
  cursor: pointer;
}

.control--checkbox .checkbox:checked + .label::after {
  content: " ";
  font-family: "Font Awesome 5 Free";
  background-color: #8800cc;
}

.control--checkbox .checkbox:disabled {
  cursor: not-allowed;
}

.control--checkbox .checkbox:disabled + .label {
  color: #c491dd;
}

.control--checkbox .checkbox:disabled + .label::before {
  background-color: #e6e6e6;
  cursor: not-allowed;
}

.control--checkbox .checkbox:disabled + .label::after {
  color: #c491dd;
  background-color: #e6e6e6;
  cursor: not-allowed;
}

.control--checkbox .checkbox:focus + .label::before {
  box-shadow: 0 0 0 2px rgba(136, 0, 204, 0.4);
}

.control--checkbox .checkbox:checked:focus + .label::after {
  background-color: #440066;
}

.button {
  display: inline-block;
  padding: 0.2rem 1rem;
  height: 3rem;
  font-weight: bold;
  line-height: 2.5rem;
  letter-spacing: .5px;
  color: white;
  background: #8800cc;
  border: 1px solid #8800cc;
  outline: 0 !important;
}

.button:hover {
  background: #660099;
}

.button:focus {
  background: #440066;
  box-shadow: 0 0 0 2px rgba(136, 0, 204, 0.4);
}

.button:active {
  color: #cccccc;
}

.button-link {
  display: inline-block;
  padding: 0.2rem 1rem;
  height: 3rem;
  font-weight: bold;
  line-height: 2.5rem;
  letter-spacing: .5px;
  color: #c61aff;
  background-color: transparent;
  border: 1px solid transparent;
  outline: 0 !important;
}

.button-link:hover {
  background: #e6e6e6;
}

.button-link:focus {
  color: #ad00e6;
  box-shadow: 0 0 0 2px rgba(136, 0, 204, 0.4);
}

.button-link:active {
  color: #600080;
}

.button-icon {
  color: white;
  pointer-events: none;
}

.control--radio {
  margin-bottom: 0;
  padding-left: .8rem;
}

.control--radio .label {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 0;
  padding-left: .5rem;
  line-height: 1.4rem;
}

.control--radio .label::before {
  content: "";
  display: inline-block;
  position: absolute;
  border-radius: 50%;
  width: 1.4rem;
  height: 1.4rem;
  left: 0;
  margin-left: -2rem;
  border: 1px solid #8800cc;
}

.disabled .control--radio .label::before {
  border: 1px solid #8800cc;
  border-color: #e6b3ff;
}

.control--radio .label::after {
  display: inline-block;
  position: absolute;
  width: 1.4rem;
  height: 1.4rem;
  left: 0;
  top: 0;
  margin-left: -2rem;
  text-align: center;
  font-size: 0.6rem;
  line-height: 1.3rem;
  color: white;
  border: 1px solid #8800cc;
}

.control--radio .radio {
  opacity: 0;
  z-index: 1;
  cursor: pointer;
}

.control--radio .radio:checked + .label::after {
  content: " ";
  font-family: "Font Awesome 5 Free";
  background-color: #8800cc;
  border-radius: 50%;
}

.control--radio .radio:disabled {
  cursor: not-allowed;
}

.control--radio .radio:disabled + .label {
  color: #c491dd;
}

.control--radio .radio:disabled + .label::before {
  background-color: #e6e6e6;
  content: " ";
  font-family: "Font Awesome 5 Free";
  text-align: center;
  font-size: 0.6rem;
  cursor: not-allowed;
}

.control--radio .radio:disabled + .label::after {
  color: #c491dd;
  background-color: #e6e6e6;
  cursor: not-allowed;
}

.control--radio .radio:focus + .label::before {
  box-shadow: 0 0 0 2px rgba(136, 0, 204, 0.4);
}

.control--radio .radio:checked:focus + .label::after {
  background-color: #440066;
}

.page-name {
  font-weight: bold;
  line-height: 0px;
  font-size: 30px;
  letter-spacing: 3px;
  text-shadow: 0 0 3px #c61aff;
  display: block;
  padding-bottom: 10px;
}

#app {
  background: #f7e6ff;
}

.page-header {
  background: #e6b3ff;
}

.aside .container {
  background: white;
}

.page-footer {
  background: #e6b3ff;
}
